<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53973267839-ne27dtumf1d452h9a1sbqu1hr7c1g5dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53973267839-ne27dtumf1d452h9a1sbqu1hr7c1g5dl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53973267839-llpd9ka2j6k02tmbpcucfe9gpvkrpr6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE5gvKBRN75vNV3yeZ3i9LZROVagqED8o</string>
	<key>GCM_SENDER_ID</key>
	<string>53973267839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betrider.sociallogin</string>
	<key>PROJECT_ID</key>
	<string>flutter-social-login-example</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-social-login-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53973267839:ios:123732762484c17b3a564a</string>
	<key>CFBundleURLTypes</key>
	<array>
	    <dict>
	        <key>CFBundleTypeRole</key>
	        <string>Editor</string>
	        <key>CFBundleURLSchemes</key>
	        <array>
	        	<string>com.googleusercontent.apps.53973267839-ne27dtumf1d452h9a1sbqu1hr7c1g5dl</string>
	        </array>
	    </dict>
	</array>
</dict>
</plist>